.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__title {
  max-width: 373px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 25px 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  box-sizing: border-box;
}

.card__like-button {
  background: transparent url(../images/heart-button.svg) center no-repeat;
  width: 32px;
  height: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5s;
}
