.cards {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__title {
  max-width: 373px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 25px 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  box-sizing: border-box;
}

.card__like-button {
  background: transparent url(../images/heart-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  outline: none;
}
