.footer {
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: auto;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 48px;
  }

  .footer__copyright {
    margin-top: 0px;
    margin-bottom: 36px;
  }
}
